

[class*="col-"] {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
    width: 100%; 
}

#form-connect
{
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

h1
{
    text-align: center;
}

.login
{
    text-align: center;
}

footer {
    text-align: center;
}

