
/*------------------------------------*\
    $CONTENU
\*------------------------------------*/
/**
 * PARTIE 0...............Paramètres généraux de la page (marge, polices)
 * PARTIE 1...............en-tête 
 * PARTIE 5...............Pied de page
 * PARTIE 6...............Media Queries
 */





/*------------------------------------*\
    $PARTIE 0  Paramètres généraux de la page
\*------------------------------------*/


html 
{
    font-size: 16px; /*défini une taille de police pour toute la page que l'on ajuste ensuite avec rem*/
}

body 
{
    font-family: Arial, sans-serif;
    margin: 0; /*réinitialise la valeur par défaut donnée par les navigateurs web*/
    padding: 0;
}

#block_page
{
    width: 95%;
    margin: auto;
}

h1
{
    text-align: center;
}

.titreEpisode
{
    text-decoration: none; 
    color: black;
}


/*------------------------------------*\
    $PARTIE 1  En-tête
\*------------------------------------*/


header 
{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: rgb(150,200,100); /*définition d'un fond pour le menu*/
}

/* Navigation */
.menu ul 
{
    list-style-type: none; /*pour supprimer l'affichage des puces de la liste à puce*/
    display: flex; /*met la liste à l'horizontal au lieu de la verticale*/
}

.menu li
{
  margin-right: 2rem; /* espacement entre mots du menu*/
}

.menu a
{
  color: rgb(0,0,0);
  text-decoration: none; /*supprime la barre qui s'affiche sous un lien de navigation*/
}

/*Définition des bouton*/

.btn {
    color: rgb(255,255,255); /*couleur blanche de police*/
    font-size: 1rem;
    background: rgb(52,145,178); /*définition d'un fond bleu*/
    padding: 0.5%;
    border-radius: 5px; /*arrondi des angles */
    text-decoration: none; /*pour que le mot ne soit pas souligné*/
}


/*------------------------------------*\
    $PARTIE 2  Autres
\*------------------------------------*/

#form_connexion 
{
    margin: 0 auto;
    text-align: center;
}


th, td {
    width: 300px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
}


td {
    padding: 3%;
}

/*------------------------------------*\
    $PARTIE 5  Pied de page
\*------------------------------------*/

footer
{
    text-align: center;
    margin-top: 5%;
}